@import "../../styles/variables";

.flex-container {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.flex-item {
    flex: 10%;
    // border: 1px solid black;
}

.flex-container-row {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 700;
    color: #b3b3b3;
    font-size: 15px;
}

.image {
    overflow: hidden;
    flex: 50%;
    background-color: black;
    img {
        width: 100%;
        border-radius: 3px;
        position: relative;
        margin-top: -12vh;

        &:hover {
            opacity: 30%;
            transition: opacity .5s;
        }
    }
}

.shapes {
    flex: 5%;
}

.text {
    padding-left: 5%;
    padding-right: 5%;
    flex: 30%;
    p {
        color: #b3b3b3;
        font-size: 15px;
    }

    h2 {
        margin-top: 1%;
        font-weight: 900;
        color: rgb(48, 55, 61);
    }
}

.box {
    height: $containerHeight;
    // height: 40vh;
    width: $containerWidth / 2 - 15;
    box-shadow: 5px 5px 20px #dadada;
    border-radius: 3px;
    // border: 2px solid black;
    margin-bottom: 30px;
}

.circle {
    height: 12px;
    width: 12px;
    margin-left: 5%;
    margin-top: 3%;
    border-radius: 50%;
    display: inline-block;
}

.circleBlue {
    background-color: rgb(3, 187, 211);
}

.circleYellow {
    background-color: rgb(254, 193, 7);
    margin-left: 1%;
}

.overlay {

    width: $containerWidth / 2 - 15;
    height: $containerHeight / 2;

    position: absolute;
    color: white;
    // border: 2px solid red;

    h2 {
        text-align: center;
        padding-top: 12%;
        font-family: 'Lato', sans-serif;
    }
}


@media only screen and (max-width: 1200px) {
    .box {
        height: $containerHeight;
        // height: 40vh;
        width: 80vw;
        margin-left: 10vw;
        box-shadow: 5px 5px 20px #dadada;
        border-radius: 3px;
        // border: 2px solid black;
        margin-bottom: 30px;
    }

    .overlay {

        width: 80vw;;
    
        h2 {
            padding-top: $containerHeight * 0.15;
        }
    }
  }